/* INDEX */

.imagenCarrusel {
    height: 550px;
}

.iconoCamion {
    margin: 0 0 2% 33%;
}

.iconoMapa {
    margin: 0 0 2% 37%;
    color: $colorLila;
}

.contenedorCards {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1.5px $colorLila;
    padding: 2%;
}

.cardEnvios {
    color: $colorLila;
    padding-right: 10%;
    border-right: solid 2px $colorLila;
}

.tituloEnvios {
    font-weight: 600;
    font-size: 1.20rem;
}

.textoEnvios {
    font-weight: 400;
    font-size: 1.05rem;
}

.tituloEntregas {
    @extend .tituloEnvios;
    color: $colorLila
}

.textoEntregas {
    @extend .textoEnvios;
    text-align: center;
    color: $colorLila;
}

.backgroundColorPiedras {
    background-color: rgb(233, 220, 241);
    border: solid rgb(233, 220, 241);
}

.contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 8%;
}

.card1 {
    width: 28.5rem;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
    &:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);
    }
}

.card2 {
    @extend .card1 
}

.card-title {
    text-align: center;
}

.miBtn {
    margin: 3% 0 0 35%;
    border: 1px solid $colorRosita;
    &:hover {
        background-color: $colorRosita;
    }
}

.botonIndex {
    display: inline;
    background-color: $colorRosita;
    color: $colorNegro;
    border: solid 1.5px $colorNegro;
    padding: 1%;
    margin: 10% 0 10% 40%;
    font-weight: 600;
    cursor: pointer;
}