/* INFORMACION */

.contenedorInformacion {
	margin: 4% 3% 18% 3%;
}


.tituloInformacionEnvios {
	text-align: center;
	font-size: 1.35rem;
	margin: 6% 0 4% 0;
	text-decoration: underline 3px rgb(207, 198, 230);
    text-underline-offset: 6px;
}


.subtitulo {
	color: $colorLila;
	font-weight: bold;
	font-size: 1.25rem;
	margin: 2% 0 3% 3%;
}


.infoEnvios {
	color: #636262;
	font-size: 1.15rem;
	margin: 2% 0 3% 3%;
}


.tituloInformacionEntregas {
	@extend .tituloInformacionEnvios;
	border-top: solid 2px $colorLila;
	margin: 8% 0 4% 0;
	padding-top: 7%;
}


.infoPuntos {
	@extend .subtitulo;
}


.puntosEntrega {
	@extend .infoEnvios
}
