@mixin cardFlexColumn ($display, $direction, $aling, $margin) {
    display: $display;
    flex-direction: $direction;
    text-align: $aling;
    margin-left: $margin;
   
}

@mixin cardProductosIndex ($display, $wrap, $justify) {
    display: $display;
    flex-wrap: $wrap;
    justify-content: $justify;
}