/* PRODUCTOS */

.tituloProductos {
    margin-top: 6%;
    font-size: 1.30rem;
    text-decoration: underline 5px rgb(207, 198, 230);
    text-align: center;
}

.flexRow {
    display: flex;
    justify-content: space-evenly;
    margin: 8% 3%;
}

.imagenFlex {
    border: 1.2px solid black;
    height: 60%;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10% 5% 9% 5%;
}

.piedrasTituloProd {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: -3%;
}

.piedrasProductos {
    font-family: $fontFamilyM;
    font-weight: 300;
    margin-bottom: 1%;
}

.precioProductos {
    margin-top: 2%;
    font-size: 1.02rem;
    font-weight: 600;
}



.linkProducto {
    width: 10vw;
    font-size: 0.80rem;
    font-weight: 500;
    margin: auto;
    padding: 2% ;
    background-color: $colorRosita;
    white-space: nowrap;
    &:hover {
        color: $colorNegro;
        background-color: rgb(228, 197, 217);
    }
}