* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: black; }

body {
  background-color: white;
  font-family: 'Work Sans', sans-serif;
  color: black; }

header {
  position: sticky;
  top: 0;
  z-index: 2; }

.logo {
  font-family: 'Abril Fatface', cursive;
  background-color: #ecdaf5;
  font-size: 1.2rem;
  margin-top: 5%;
  padding: 0 1vw 0 1vw; }

.miNav {
  border-bottom: 1px solid black; }

.nav-item a {
  color: #525252;
  background-image: linear-gradient(to right, #e0c8eb, #e0c6d0, #f1bdd0);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; }
  .nav-item a:hover {
    color: #949494;
    background-size: 100% 2px; }

li.nav-item {
  margin: -1% 2% 0 0;
  font-weight: 500;
  font-size: 1.05rem;
  font-family: 'Work Sans', sans-serif !important; }

.navbar-light .navbar-toggler {
  color: #b5b6de; }
  .navbar-light .navbar-toggler:focus {
    box-shadow: 0 0 0 0.15rem; }

footer {
  padding: 1%;
  background-color: white;
  border-top: solid 1px black; }

.contenedorFooter {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
  margin-top: 2.5%; }

.elementosFooter h2 {
  font-size: 1.20rem;
  font-weight: 600;
  margin-bottom: 10%;
  text-decoration: underline 3.5px #f8dbee;
  text-underline-offset: 4px; }

.elementosFooter p {
  font-weight: 400;
  color: #424242;
  margin-top: 5%;
  margin-bottom: -2%;
  font-family: 'Work Sans', sans-serif; }

.iconContacto {
  color: #726f6f; }

.formularioFooter {
  display: flex;
  padding: 1%;
  margin: 2% 2% 2% 0; }

.inputFooter {
  display: flex;
  background-color: white;
  color: black;
  padding: 5%;
  border: solid 1px black;
  font-size: 0.8rem;
  margin-bottom: 2%; }

.inputSubmit {
  background-image: url(../images/kisspng-computer-icons-button-send-email-button-5ac4bc896d9823.4635189215228427614489.png);
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 28px;
  height: 38.5px;
  border: 1px solid black; }

/* INDEX */
.imagenCarrusel {
  height: 550px; }

.iconoCamion {
  margin: 0 0 2% 33%; }

.iconoMapa {
  margin: 0 0 2% 37%;
  color: #b5b6de; }

.contenedorCards {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 1.5px #b5b6de;
  padding: 2%; }

.cardEnvios {
  color: #b5b6de;
  padding-right: 10%;
  border-right: solid 2px #b5b6de; }

.tituloEnvios, .tituloEntregas {
  font-weight: 600;
  font-size: 1.20rem; }

.textoEnvios, .textoEntregas {
  font-weight: 400;
  font-size: 1.05rem; }

.tituloEntregas {
  color: #b5b6de; }

.textoEntregas {
  text-align: center;
  color: #b5b6de; }

.backgroundColorPiedras {
  background-color: #e9dcf1;
  border: solid #e9dcf1; }

.contenedorProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 8%; }

.card1, .card2 {
  width: 28.5rem;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease; }
  .card1:hover, .card2:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }

.card-title {
  text-align: center; }

.miBtn {
  margin: 3% 0 0 35%;
  border: 1px solid #f8dbee; }
  .miBtn:hover {
    background-color: #f8dbee; }

.botonIndex {
  display: inline;
  background-color: #f8dbee;
  color: black;
  border: solid 1.5px black;
  padding: 1%;
  margin: 10% 0 10% 40%;
  font-weight: 600;
  cursor: pointer; }

/* PRODUCTOS */
.tituloProductos {
  margin-top: 6%;
  font-size: 1.30rem;
  text-decoration: underline 3px #cfc6e6;
  text-underline-offset: 6px;
  text-align: center; }

.flexRow {
  display: flex;
  justify-content: space-evenly;
  margin: 8% 3%; }

.imagenFlex {
  border: 1.2px solid black;
  height: 60%; }

.flexColumn {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10% 5% 9% 5%; }

.piedrasTituloProd {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: -3%; }

.piedrasProductos {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-bottom: 1%; }

.precioProductos {
  margin-top: 2%;
  font-size: 1.02rem;
  font-weight: 600; }

.linkProducto {
  width: 10vw;
  font-size: 0.80rem;
  font-weight: 500;
  margin: auto;
  padding: 2%;
  background-color: #f8dbee;
  white-space: nowrap; }
  .linkProducto:hover {
    color: black;
    background-color: #e4c5d9; }

.flexRowCristales {
  display: flex;
  margin: 5% 0 10% 0; }

.imagenProductos {
  margin-left: 5%; }

.tituloCristales {
  font-weight: 500;
  font-size: 1.5rem;
  margin-left: 15%; }

.precioCristales {
  margin: 5% 0 0 15%;
  font-weight: 500;
  font-size: 1.2rem; }

.descripcionCristales {
  margin-left: 15%;
  padding-right: 4%; }

.labelCantidad {
  margin: 8% 0 2% 15%; }

.inputCantidad {
  width: 35vw;
  height: 45px;
  border: 1px solid #b6b6b6;
  margin-left: 15%;
  padding-left: 2%; }

.carrito {
  background-color: #f8dbee;
  font-weight: 400;
  padding: 2%;
  width: 35vw;
  margin: 3% 0 0 15%;
  text-align: center;
  border: 1px solid black;
  cursor: pointer; }

/* INFORMACION */
.contenedorInformacion {
  margin: 4% 3% 18% 3%; }

.tituloInformacionEnvios, .tituloInformacionEntregas {
  text-align: center;
  font-size: 1.35rem;
  margin: 6% 0 4% 0;
  text-decoration: underline 3px #cfc6e6;
  text-underline-offset: 6px; }

.subtitulo, .infoPuntos {
  color: #b5b6de;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 2% 0 3% 3%; }

.infoEnvios, .puntosEntrega {
  color: #636262;
  font-size: 1.15rem;
  margin: 2% 0 3% 3%; }

.tituloInformacionEntregas {
  border-top: solid 2px #b5b6de;
  margin: 8% 0 4% 0;
  padding-top: 7%; }

/* CUENTA */
.tituloCuenta, .tituloContacto {
  margin-top: 6%;
  text-align: center;
  font-size: 1.25rem;
  text-decoration: underline 3px #cfc6e6;
  text-underline-offset: 6px; }

.textoCuenta, .textoContacto {
  color: #363636;
  margin: 2% 0 5% 0;
  font-size: 1.15rem;
  text-align: center; }

.formulario {
  margin: 4% 10% 15% 30%;
  font-size: 0.90rem; }

.inputCuenta, .inputContacto {
  width: 40vw;
  margin-bottom: 4%; }

.botonCuenta, .botonContacto {
  background-color: #e8d7ff;
  margin-left: 28%;
  padding: 1.3%;
  transition: all .2s; }
  .botonCuenta:hover, .botonContacto:hover {
    background-color: #a3a4c9; }

/* CONTACTO */
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #dbd7f3;
  outline: 0;
  box-shadow: 0 0 0 0.20rem #dbd7f3; }

.inputMessage {
  width: 40vw;
  height: 50vh; }

.botonContacto {
  height: 15%;
  margin: 2% 0 0 28%; }
  .botonContacto:hover {
    background-color: #a3a4c9; }

/* MEDIA QUERIES */
@media screen and (max-width: 1030px) {
  .imagenCarrusel {
    height: 60vh; }
  .imagenCuarzo {
    width: 50vw; }
  .imagenAmatista {
    width: 50vw; }
  .cardProductos1 {
    display: flex;
    align-items: center;
    margin: 4% 0 8% 5%;
    padding: 8% 2% 0 2%; }
  .flex {
    padding: 5%; }
  .tituloProductos {
    margin-top: 8%; }
  .imagenFlex {
    height: 70%;
    width: 80%;
    margin-left: 10%; }
  .flexRow {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 8% 5%; }
  .piedrasTituloProd {
    font-size: 1.50rem;
    font-weight: 500;
    margin-bottom: 1%; }
  .piedrasProductos {
    font-size: 1.30rem;
    font-weight: 400; }
  .precioProductos {
    font-size: 1.30rem; }
  .linkProducto {
    padding: 2% 14% 2% 2%; }
  .flexRowCristales {
    display: flex;
    flex-direction: column; }
  .imagenProductos {
    width: 90vw;
    margin-left: 3.5%; }
  .tituloCristales {
    margin: 8% 0 0 10%; }
  .descripcionCristales {
    margin-left: 10%; }
  .precioCristales {
    margin-left: 10%; }
  .flexColumnCarrito {
    display: flex;
    flex-direction: column;
    margin-left: -5%; }
  .inputCantidad {
    width: 80%; }
  .carrito {
    white-space: nowrap;
    width: 80%;
    margin-bottom: 8%; }
  .tituloInformacionEnvios, .tituloInformacionEntregas {
    margin-top: 8%; }
  .tituloCuenta, .tituloContacto {
    margin-top: 8%; }
  .tituloContacto {
    margin-top: 8%; }
  .inputMessage {
    width: 40vw;
    height: 30vh; } }

@media screen and (max-width: 920px) {
  .card1, .card2 {
    margin-bottom: 8%; }
  .botonIndex {
    margin-left: 35%; }
  .tituloProductos {
    margin-top: 8%; }
  .linkProducto {
    padding: 2% 16% 2% 2%; }
  .tituloInformacionEnvios, .tituloInformacionEntregas {
    margin-top: 8%; }
  .tituloCuenta, .tituloContacto {
    margin-top: 8%; }
  .tituloContacto {
    margin-top: 8%; } }

@media screen and (max-width: 780px) {
  .contenedorCards {
    padding-top: 5%; }
  .tituloEnvios, .tituloEntregas {
    font-weight: 600;
    font-size: 1.05rem; }
  .textoEnvios, .textoEntregas {
    font-weight: 400;
    font-size: 1rem; }
  .tituloEntregas {
    color: #b5b6de;
    font-weight: 600;
    font-size: 1.05rem; }
  .textoEntregas {
    text-align: center;
    color: #b5b6de;
    font-weight: 400;
    font-size: 1rem; }
  .piedrasIndex {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400; }
  .botonIndex {
    padding: 1.5%;
    justify-content: center;
    margin: 6% 0 10% 40%;
    font-size: 0.8rem; }
  .flexColumn {
    padding: 0 5%; }
  .piedrasTituloProd {
    font-size: 1.35rem; }
  .piedrasProductos {
    font-size: 1.20rem; }
  .tituloProductos {
    margin-top: 8%; }
  .linkProducto {
    padding: 2% 22% 2% 2%; }
  .flexRowCristales {
    display: flex;
    flex-direction: column; }
  .imagenProductos {
    width: 90vw;
    margin-left: 3.5%; }
  .tituloCristales {
    margin: 8% 0 0 10%; }
  .descripcionCristales {
    margin-left: 10%; }
  .precioCristales {
    margin-left: 10%; }
  .flexColumnCarrito {
    display: flex;
    flex-direction: column;
    margin-left: -5%; }
  .inputCantidad {
    width: 80%; }
  .carrito {
    white-space: nowrap;
    width: 80%;
    margin-bottom: 8%; }
  .tituloInformacionEnvios, .tituloInformacionEntregas {
    margin-top: 8%; }
  .tituloCuenta, .tituloContacto {
    margin-top: 8%; }
  .formulario {
    margin-bottom: 15%; }
  .botonCuenta, .botonContacto {
    margin-left: 25%; }
  .form-label {
    margin-left: -33%; }
  .inputCuenta, .inputContacto {
    margin-left: -33%;
    width: 80vw; }
  .tituloContacto {
    margin-top: 15%; }
  .inputContacto {
    margin-left: -33%;
    width: 80vw; }
  .inputMessage {
    margin-left: -33%;
    width: 80vw; }
  footer {
    font-size: 0.90rem; } }

@media screen and (max-width: 722px) {
  .imagenCarrusel {
    height: 50vh; }
  .tituloProductos {
    margin-top: 8%; }
  .linkProducto {
    padding: 2% 22% 2% 2%; }
  .flexRowCristales {
    display: flex;
    flex-direction: column; }
  .imagenProductos {
    width: 90vw;
    margin-left: 3.5%; }
  .tituloCristales {
    margin: 8% 0 0 10%; }
  .descripcionCristales {
    margin-left: 10%; }
  .precioCristales {
    margin-left: 10%; }
  .flexColumnCarrito {
    display: flex;
    flex-direction: column;
    margin-left: -5%; }
  .inputCantidad {
    width: 80%; }
  .carrito {
    white-space: nowrap;
    width: 80%;
    margin-bottom: 8%; }
  .tituloInformacionEnvios, .tituloInformacionEntregas {
    margin-top: 8%; }
  .tituloCuenta, .tituloContacto {
    margin-top: 8%; }
  .tituloContacto {
    margin-top: 8%; }
  .inputMessage {
    width: 80vw; }
  .botonContacto {
    background-color: #dad6fc; } }

@media screen and (max-width: 680px) {
  .imagenCarrusel {
    height: 50vh; }
  .cardEnvios {
    padding-right: 7%; }
  .tituloEnvios, .tituloEntregas {
    font-weight: 600;
    font-size: 1rem; }
  .textoEnvios, .textoEntregas {
    font-weight: 400;
    font-size: 0.85rem; }
  .tituloEntregas {
    color: #b5b6de;
    font-weight: 600;
    font-size: 1rem; }
  .textoEntregas {
    text-align: center;
    color: #b5b6de;
    font-weight: 400;
    font-size: 0.85rem; }
  .tituloProductos {
    margin-top: 8%; }
  .linkProducto {
    padding: 2% 25% 2% 2%; }
  .flexRowCristales {
    display: flex;
    flex-direction: column; }
  .imagenProductos {
    width: 90vw;
    margin-left: 3.5%; }
  .tituloCristales {
    margin: 8% 0 0 10%; }
  .descripcionCristales {
    margin-left: 10%; }
  .precioCristales {
    margin-left: 10%; }
  .flexColumnCarrito {
    display: flex;
    flex-direction: column;
    margin-left: -5%; }
  .inputCantidad {
    width: 80%; }
  .carrito {
    white-space: nowrap;
    width: 80%;
    margin-bottom: 8%; }
  .tituloInformacionEnvios, .tituloInformacionEntregas {
    margin-top: 8%; }
  .form-label {
    margin-left: -33%; }
  .tituloCuenta, .tituloContacto {
    margin-top: 8%; }
  .inputCuenta, .inputContacto {
    margin-left: -33%;
    width: 80vw; }
  .tituloContacto {
    margin-top: 8%; }
  .inputContacto {
    margin-left: -33%;
    width: 80vw; }
  .inputMessage {
    margin-left: -33%;
    width: 80vw; }
  .elementosFooter h3 {
    font-size: 1.05rem;
    padding-top: 2%; } }

@media screen and (max-width: 650px) {
  .imagenCarrusel {
    height: 50vh; }
  .tituloProductos {
    margin-top: 8%; }
  .linkProducto {
    padding: 2% 26% 2% 2%; }
  .flexRowCristales {
    display: flex;
    flex-direction: column; }
  .imagenProductos {
    width: 90vw;
    margin-left: 3.5%; }
  .tituloCristales {
    margin: 8% 0 0 10%; }
  .descripcionCristales {
    margin-left: 10%; }
  .precioCristales {
    margin-left: 10%; }
  .flexColumnCarrito {
    display: flex;
    flex-direction: column;
    margin-left: -5%; }
  .inputCantidad {
    width: 80%; }
  .carrito {
    white-space: nowrap;
    width: 80%;
    margin-bottom: 8%; }
  .tituloInformacionEnvios, .tituloInformacionEntregas {
    margin-top: 8%; }
  .tituloCuenta, .tituloContacto {
    margin-top: 8%; }
  .tituloContacto {
    margin-top: 8%; }
  .inputMessage {
    width: 80vw; } }

@media screen and (max-width: 576px) {
  .logo {
    font-size: 1.05rem; }
  .imagenCarrusel {
    height: 50vh; }
  .tituloProductos {
    margin-top: 8%; }
  .linkProducto {
    padding: 2% 29% 2% 2%; }
  .flexRowCristales {
    display: flex;
    flex-direction: column; }
  .imagenProductos {
    width: 90vw;
    margin-left: 3.5%; }
  .tituloCristales {
    margin: 8% 0 0 10%; }
  .descripcionCristales {
    margin-left: 10%; }
  .precioCristales {
    margin-left: 10%; }
  .flexColumnCarrito {
    display: flex;
    flex-direction: column;
    margin-left: -5%; }
  .inputCantidad {
    width: 80%; }
  .carrito {
    white-space: nowrap;
    width: 80%;
    margin-bottom: 8%; }
  .tituloInformacionEnvios, .tituloInformacionEntregas {
    margin-top: 8%; }
  .tituloCuenta, .tituloContacto {
    margin: 8% 0 6% 0; }
  .tituloContacto {
    margin-top: 8%; }
  .inputMessage {
    width: 80vw; } }

@media screen and (max-width: 508px) {
  .imagenCarrusel {
    height: 50vh; }
  .contenedorCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .cardEnvios {
    border-right: none;
    border-bottom: 1px solid #b5b6de;
    margin-left: 7%;
    padding-right: 0; }
  .iconoMapa {
    margin-top: 10%;
    width: 20%;
    height: 20%; }
  .cardProductos1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .cardProductos2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .imagenCuarzo {
    width: 90vw;
    margin-right: 6%; }
  .imagenAmatista {
    width: 90vw;
    margin-right: 3.5%; }
  .botonIndex {
    margin-left: 28%; }
  .tituloProductos {
    margin-top: 8%; }
  .linkProducto {
    padding: 2% 31% 2% 2%; }
  .flexRowCristales {
    display: flex;
    flex-direction: column; }
  .imagenProductos {
    width: 90vw;
    margin-left: 3.5%; }
  .tituloCristales {
    margin: 8% 0 0 10%; }
  .descripcionCristales {
    margin-left: 10%; }
  .precioCristales {
    margin-left: 10%; }
  .flexColumnCarrito {
    display: flex;
    flex-direction: column;
    margin-left: -5%; }
  .inputCantidad {
    width: 80%; }
  .carrito {
    white-space: nowrap;
    width: 80%;
    margin-bottom: 8%; }
  .tituloInformacionEnvios, .tituloInformacionEntregas {
    margin-top: 8%; }
  .tituloCuenta, .tituloContacto {
    margin: 8% 0 6% 0; }
  .textoCuenta, .textoContacto {
    margin: 0 1%; }
  .form-label {
    margin-left: -33%; }
  .inputCuenta, .inputContacto {
    margin-left: -33%;
    width: 80vw; }
  .botonCuenta, .botonContacto {
    background-color: #dad6fc; }
  .tituloContacto {
    margin-top: 8%; }
  .inputContacto {
    margin-left: -33%;
    width: 80vw; }
  .inputMessage {
    margin-left: -33%;
    width: 80vw; }
  .botonContacto {
    background-color: #dad6fc; }
  .contenedorFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5%; }
  .tituloC {
    margin-top: 7%; }
  .tituloNews {
    margin-top: 15%; } }

@media screen and (max-width: 480px) {
  .logo {
    font-size: 1rem; }
  .imagenCarrusel {
    height: 50vh; }
  .contenedorCards {
    display: flex;
    justify-content: space-evenly;
    align-content: center; }
  .card1, .card2 {
    margin-bottom: 10%;
    width: 75vw; }
  .miBtn {
    margin-left: 30%; }
  .tituloEnvios, .tituloEntregas {
    font-weight: 600;
    font-size: 1rem; }
  .textoEnvios, .textoEntregas {
    font-weight: 400;
    font-size: 0.80rem; }
  .tituloEntregas {
    color: #b5b6de;
    font-weight: 600;
    font-size: 1rem; }
  .textoEntregas {
    text-align: justify;
    color: #b5b6de;
    font-weight: 400;
    font-size: 0.80rem;
    text-align: center; }
  .imagenCuarzo {
    width: 90vw;
    margin-right: 6%; }
  .imagenAmatista {
    width: 90vw;
    margin-right: 3.5%; }
  .piedrasIndex {
    text-align: center;
    font-size: 0.8rem; }
  .botonIndex {
    margin-left: 28%; }
  .imagenFlex {
    width: 95%;
    margin-left: 3.5%; }
  .piedrasProductos {
    font-size: 1rem;
    font-weight: 400; }
  .tituloProductos {
    margin-top: 8%; }
  .linkProducto {
    padding: 2% 33% 2% 2%; }
  .flexRowCristales {
    display: flex;
    flex-direction: column; }
  .imagenProductos {
    width: 90vw;
    margin-left: 3.5%; }
  .tituloCristales {
    margin: 8% 0 0 10%; }
  .descripcionCristales {
    margin-left: 10%; }
  .precioCristales {
    margin-left: 10%; }
  .flexColumnCarrito {
    display: flex;
    flex-direction: column;
    margin-left: -5%; }
  .inputCantidad {
    width: 80%; }
  .carrito {
    white-space: nowrap;
    width: 80%;
    margin-bottom: 8%; }
  .contenedorInformacion {
    padding: 5%; }
  .tituloInformacionEnvios, .tituloInformacionEntregas {
    font-size: 1.15rem;
    margin: -2% 0 7% 0; }
  .subtitulo, .infoPuntos {
    font-size: 1.25rem; }
  .infoEnvios, .puntosEntrega {
    font-size: 1.05rem; }
  .tituloInformacionEntregas {
    font-size: 1.15rem;
    margin-top: 15%;
    padding-top: 10%; }
  .infoPuntos {
    font-size: 1.15rem; }
  .puntosEntrega {
    font-size: 1.05rem; }
  .tituloCuenta, .tituloContacto {
    font-size: 1rem;
    margin-bottom: 6%; }
  .textoCuenta, .textoContacto {
    font-size: 1rem; }
  .form-label {
    margin-left: -33%;
    font-size: 0.75rem; }
  .inputCuenta, .inputContacto {
    margin-left: -33%;
    width: 80vw; }
  .inputContacto {
    margin-left: -33%;
    width: 80vw; }
  .inputMessage {
    margin-left: -33%;
    width: 80vw; }
  .botonCuenta, .botonContacto {
    margin-left: 15%; }
  .tituloContacto {
    font-size: 1rem;
    margin-top: 8%; }
  .textoContacto {
    font-size: 1rem;
    margin: 0 2%; }
  .elementosFooter {
    padding: 0 3% 0 3%;
    margin: 0 0 5% 3%; } }

@media screen and (max-width: 445px) {
  .linkProducto {
    padding: 2% 36% 2% 2%; } }

@media screen and (max-width: 410px) {
  .linkProducto {
    padding: 2% 39% 2% 2%; } }

@media screen and (max-width: 375px) {
  .nav-link {
    font-size: 0.90rem; }
  .imagenCarrusel {
    height: 50vh; }
  .card1, .card2 {
    width: 85vw; }
  .card-title {
    font-size: 1rem; }
  .miBtn {
    margin-left: 30%;
    font-size: 0.70rem; }
  .botonIndex {
    margin-left: 20%; }
  .piedrasProductos {
    font-size: 0.90rem; }
  .tituloProductos {
    margin: 15% 0 10% 0; }
  .linkProducto {
    padding: 2% 41% 2% 2%; }
  .flexRowCristales {
    display: flex;
    flex-direction: column; }
  .imagenProductos {
    width: 90vw;
    margin-left: 3.5%; }
  .tituloCristales {
    margin: 8% 0 0 10%; }
  .descripcionCristales {
    margin-left: 10%; }
  .precioCristales {
    margin-left: 10%; }
  .flexColumnCarrito {
    display: flex;
    flex-direction: column;
    margin-left: -5%; }
  .inputCantidad {
    width: 80%; }
  .carrito {
    white-space: nowrap;
    width: 80%;
    margin-bottom: 8%; }
  .tituloInformacionEnvios, .tituloInformacionEntregas {
    margin: 8% 0 10% 0; }
  .subtitulo, .infoPuntos {
    margin-top: 8%; }
  .tituloInformacionEntregas {
    margin: 12% 0 12% 0;
    padding-top: 15%; }
  .infoPuntos {
    margin-bottom: 5%; }
  .tituloCuenta, .tituloContacto {
    margin: 15% 0 10% 0; }
  .textoCuenta, .textoContacto {
    margin: 1%; }
  .form-label {
    margin-left: -33%; }
  .inputCuenta, .inputContacto {
    margin-left: -33%;
    width: 80vw; }
  .tituloContacto {
    margin: 15% 0 10% 0; }
  .inputContacto {
    margin-left: -33%;
    width: 80vw; }
  .inputMessage {
    margin-left: -33%;
    width: 80vw; } }
